@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}



body {
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: Norse-Bold, sans-serif; */
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;


}

.first {
    height: 33vh; /*maybe 25vh*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
    

}

.second {
    height: 33vh;
    background-color: white;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    
}

.form-div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 25px;
}

input {
    appearance: none;
    width: 200px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid red;
}

input:valid + span::after {
    content: "you fucked up";
    color: red;
}

label {
    font-size: 10px;
    color: #3b3b3c;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}

.btn-green {
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-weight: bolder;
    font-size: 15px;
}

.third {
    margin: 25px;
    margin-top: 25px;
}

.hyperlink {
    margin-left: 25px;
    margin-top: 25px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}
